extends base

block content 

    section.cart-wrapper.home-wrapper.py-5
        .container-xxl
            .row
                .col-12
                    .cart-header.py-3.d-flex.justify-content-between.align-items-center
                        h4.cart-col-1 Book
                        h4.cart-col-2 Price
                        h4.cart-col-3 Quantity
                        h4.cart-col-4 Total
                    .something 
                        each book in booky
                            .cart-data.py-3.mb-2.d-flex.justify-content-between.align-items-center
                                .cart-col-1.gaps-10.d-flex.align-items-center
                                    .w-25
                                        img.img-fluid(src=`/img/books/${book.thumbnailUrl}` alt=`${book.title}`)
                                    .w-75                                
                                .cart-col-2
                                    h5.price= `$${book.price}`
                                .cart-col-3.d-flex.align-items-center.gaps-10
                                    div
                                        input(type="number" name="" min="1" max="10" class="form-control")
                                    form.dlt.d-flex.gap-10.flex-row.mt-2.mb-3(action='' method='post')
                                        input#dlt-item(type='hidden' value=`${book._id}`)
                                        button.btn.btn-secondary(type='submit') Remove

                                .cart-col-4
                                    h5.price= `$${book.price}`
                    .col-12.py-2.mt-4
                        .d-flex.justify-content-between.align-items-baseline
                            a(href="/" class="btn btn-secondary") Continue to Shopping
                            .d-flex.flex-column.align-items-end
                                h4.SubTotal= `$${cart.bill}`
                                p Some text about checkout
                                a(href="" class="btn btn-secondary") Checkout