extends base(href="")

block content
    main
        section.py-5.home-wrapper
            .container-xxl.p-3
                .row
                    .col-12
                        .bg-white
                            .row
                                .col-5
                                    .main-product-image
                                        div
                                            img(src='', alt=`${book.title}`)
                                .col-7
                                    .prod-details
                                        .border-bottom
                                            h3.title= book.title
                                        .border-bottom.py-3
                                            p.marg-bot= `by ${book.author}`
                                            p.marg-bot.price= `$${book.price}`
                                            .marg-bot.d-flex.align-items-center.gap-10
                                                | ⭐⭐⭐⭐⭐
                                                p.mb-0 (2 Reviews)
                                            p.marg-bot= `ISBN: ${book.isbn}`
                                        .border-bottom.py-2
                                            .d-flex.gap-10.flex-row.mt-2.mb-3
                                                a.button.button1(href='#') Add to Cart
                                            .gap-10
                                                i.marg-bot.fa-solid.fa-truck-fast
                                                | Shipping & Returns
                                            p.prod-data Shipping & returns available on all orders
        section.description-wrapper.py-5.home-wrapper
            .container-xxl.p-3
                .row
                    .col-12
                        h4 Description
                        .bg-white.p-3
                            p= book.longDescription
